<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-content">
      <h3>lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eum, perspiciatis, culpa ex ratione suscipit odit sint facere quos eius in eveniet, harum. Cumque, omnis ratione dolorum rem quod cupiditate.</p>
      <p>
        subscribe <a href="{{ "/feed.xml | prepend: site/baseurl"}}">via RSS</a>
      </p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="http://twitter.com/{{site.twitter_username}}">
            <img src="/images/twitter.png" alt="twitter logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://github.com/{{site.github_username}}">
            <img src="/images/github.png" alt="github logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://plus.google.com/{{site.google_username}}">
            <img src="/images/google.png" alt="google+ logo" width="40">
          </a>
        </li>
      </ul>
    </div>



  </div>

</footer>
